* {
    font-family: "roboto";
}

.header-section {
    .container-fluid {
      padding: 0;
  
      .heading-contacts {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 0px 50px;
        border-bottom: 1px solid;
  
        .contact-details {
          display: flex;
          width: 80%;
  
          p {
            border-right: 1px solid black;
            border-left: 1px solid black;
            margin-right: 12px;
            margin-left: 12px;
            padding-right: 12px;
            padding-left: 12px;
  
            &:nth-child(3) {
              border: none;
              padding: 0;
              margin: 0;
            }
  
            &:nth-child(4) {
              border-right: none;
              padding-right: 25px;
            }
          }
        }
  
        .contact-socials {
          width: 25%;
          text-align: end;
          letter-spacing: 18px;
  
          :nth-child(1) {
            transition: all 0.4s ease;
  
            &:hover {
              transform: scale(1.5);
              cursor: pointer;
            }
          }
  
          :nth-child(2) {
            transition: all 0.4s ease;
  
            &:hover {
              transform: scale(1.5);
              cursor: pointer;
            }
          }
  
          :nth-child(3) {
            transition: all 0.4s ease;
  
            &:hover {
              transform: scale(1.5);
              cursor: pointer;
            }
          }
  
          :nth-child(4) {
            transition: all 0.4s ease;
  
            &:hover {
              transform: scale(1.5);
              cursor: pointer;
            }
          }
        }
      }
  
    .navbar-expand-lg {
        padding-top: 0px;
        padding-bottom: 0px;
  
        .container-fluid {
          justify-content: space-between;
          padding: 20px 50px 20px 50px;
          border-bottom: 1px solid black;
  
        //   .nav-logo {
        //     transition: all 0.4s ease;
  
        //     &:hover {
        //       transform: scale(1.1);
        //       cursor: pointer;
        //     }
        //   }
  
          .nav-menulist {
            .nav-details {
              .mb-lg-0 {
                gap: 20px;
                padding-right: 20px;
  
                // .nav-item {
                //   transition: all 0.6s ease;
  
                //   &:hover {
                //     border-bottom: 1px solid white;
                //     cursor: pointer;
                //   }
                // }
              }
            }
  
            .d-flex {
              .btn-dark {
                background-color: black;
                color: white;
                border: 1px solid black;
  
                &:hover {
                  background-color: white;
                  color: black;
                }
              }
            }
          }
        }
      } 
    }
  }


.hero_section {
    .container-fluid{
        .hero-content {
            display: flex;

            .hero-info {
                width: 50%;
                margin: 400px 100px 400px 100px;

                .hero-info-texts {
                    h1 {
                        font-size: 60px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                }

                .hero-info-btn {
                    display: flex;
                    gap: 20px;

                    .btn-one {
                        background-color: #000;
                        color:white;

                        &:hover {
                            background-color: white;
                            border: 1px solid black;
                            color: black;
                        }
                    }

                    .btn-two {
                        border: 1px solid black;

                        &:hover {
                            background-color:black;
                            color: white;
                        }
                    }
                }
            }

            .hero-img {
                width: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .hero-contact {
            .contact {
                padding: 40px 30px;
                display: flex;
                // margin: 50px 200px;
                justify-content: center;
                gap: 100px;

                .name {
                    display: flex;
                    flex-direction: column;

                    .text {
                        height: 48px;
                        width: 296px;
                    }
                }

                .number {
                    display: flex;
                    flex-direction: column;

                    .tele {
                        height: 48px;
                        width: 296px;
                    }
                }

                .com {
                    display: flex;
                    flex-direction: column;

                    .text {
                        height: 48px;
                        width: 296px;
                    }
                }

                .contact-btn {
                    // padding-top: 22px;
                    display:contents;

                    .btn-three {
                        // height: 100px;
                        // width: 100%;
                        transition: all .4s ease;
                        background-color: black;
                        color: white;

                        &:hover {
                            background-color:white;
                            border: 1px solid black;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}


.services_section {
    .container-fluid {
        padding: 0;

        .heading {
            text-align: center;
            padding: 112px 64px 50px;
        }

        .contents {
            text-align: center;

            .top-cards {
                display: flex;
                margin: 0px 0px 100px;
                justify-content: space-evenly;

                .card-details {
                    margin: 30px;

                    h5 {
                        margin-bottom: 20px;
                    }
                }
            }

            .bottom-cards {
                display: flex;
                padding-bottom: 100px;
                justify-content: space-evenly;

                .card-info {
                    margin: 30px;

                    h5 {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}


.about_section {
    .container-fluid {
        padding: 100px;

        .main-container {
            display: flex;
            gap: 100px;

            .about-details {
                width: 50%;
                margin: 200px 0px;
            }

            .about-details-txt {
                h6 {
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 18px;
                    margin-top: 20px;
                }
            }

            .about-details-btn {
                .btn-four {
                    height: 48px;
                    background-color: black;
                    color: white;
                    margin-top: 20px;
                    border: 1px solid black;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }

        .about-img {
            width: 50%;
            margin-left: 100px;

            img {
                width: 100%;
            }
        }
    }
}

.team_section {
    .container-fluid {
        padding: 100px;

        .team-headings {
            text-align: center;
            justify-content: center;
            margin-bottom: 100px;
        }

        .team-cards {
            .top-card {
                display: flex;
                gap: 48px;
                margin-bottom: 75px;

                .card-1 {
                    display: flex;
                    width: 50%;
                    align-items: center;

                    .card-1-details {
                        padding-left: 32px;
                        max-width: 390px;

                        h5 {
                            margin-bottom: 25px;
                        }

                        p {
                            margin-bottom: 25px;
                        }

                        .team-icons {
                            letter-spacing: 20px;
                        }
                    }
                }

                .card-2 {
                    display: flex;
                    width: 50%;
                    align-items: center;

                    .card-2-details {
                        padding-left: 32px;
                        max-width: 390px;

                        h5 {
                            margin-bottom: 25px;
                        }

                        p {
                            margin-bottom: 25px;
                        }

                        .team-icons {
                            letter-spacing: 20px;
                        }
                    }
                }
            }

            .bottom-cards {
                display: flex;
                gap: 48px;

                .card-3 {
                    display: flex;
                    width: 50%;
                    align-items: center;

                    .card-3-details {
                        padding-left: 32px;
                        max-width: 390px;

                        h5 {
                            margin-bottom: 25px;
                        }

                        p {
                            margin-bottom: 25px;
                        }

                        .team-icons {
                            letter-spacing: 20px;
                        }
                    }
                }

                .card-4 {
                    display: flex;
                    width: 50%;
                    align-items: center;

                    .card-4-details {
                        padding-left: 32px;
                        max-width: 390px;

                        h5 {
                            margin-bottom: 25px;
                        }

                        p {
                            margin-bottom: 25px;
                        }

                        .team-icons {
                            letter-spacing: 20px;
                        }
                    }
                }
            }
        }
    }
}


.contact_section {
    .container-fluid {
        display: flex;
        padding: 100px;
        gap: 80px;
    }

    .contact-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cont-headings {
            margin-bottom: 32px;

            h6 {
                margin-bottom: 16px;
            }

            .h2 {
                font-size: 42px;
                margin-bottom: 16px;
            }

            .p {
                margin-bottom: 32px;
            }
        }

        .contact-details {
            .row {
                display: flex;
                flex-direction: column;

                .row-1 {
                    display: flex;
                    gap: 35px;

                    .col-md-2 {
                        width: 300px;
                    }
                }

                .row-2 {
                    display: flex;
                    gap: 35px;

                    .col-md-2 {
                        width: 300px;
                    }
                }

                .row-3 {
                    .col-md-4 {
                        width: 635px;

                        .form-control {
                            min-height: 149px;
                        }
                    }
                }

                .row-4 {
                    .col-12 {
                        padding: 24px 0px;

                        &:last-child {
                            padding: 0;

                            .btn {
                                width: 99px;
                                height: 48px;
                                background-color:black;
                                color: white;
                                border: 1px solid black;
                                border-radius: 5px;

                                &:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.help_section {
    .container-fluid {
        padding: 122px 98px;

        .help-contents {
            border: 1px solid black;
            display: flex;
            justify-content: space-between;
            height: 222px;

            .help-txts {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 72px;

                h2 {
                    font-weight: bold;
                }

                span {
                    text-decoration: underline;
                }
            }

            .help-btn {
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                padding-right: 72px;

                .d-flex {
                    .help-button {
                        background-color:black;
                        color: white;
                        border: 1px solid black;
                        border-radius: 5px;
                        width: 174px;
                        height: 50px;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.subscribe_section {
    .container-fluid {
        padding: 122px 72px;
        justify-content: center;
        display: flex;
        text-align: center;

        .sub_content {
            height: 258px;
            width: 768px;

            .sub_texts {
                padding-bottom: 24px;

                h2 {
                    font-weight: bold;
                    font-size: 50px;
                }
            }

            .quick_bar {
                .g-3 {
                    display: flex;
                    justify-content: center;

                    .col-auto {
                        .form-control {
                            width: 394px;
                            height: 48px;
                        }

                        .mb-3 {
                            height: 48px;
                            width: 103px;
                            background-color: black;
                            transition: all 0.4s ease;

                            &:hover {
                                background-color: white;
                                border: 1px solid black;
                                color: black;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .sub_bottom_txts {
                    p {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}


.footer_section {
    .container-fluid {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 80px 64px 0px;

        .right_section {
            display: flex;
            gap: 128px;
            padding: 10px;

            .top_heading {
                display: flex;
                flex-direction: column;
                width: 35%;
                gap: 24px;

                .right-content {
                    .right-holders {
                        .g-3 {
                            .col-auto {
                                .form-control {
                                    width: 365px;
                                    height: 48px;
                                }

                                .mb-3 {
                                    width: 119px;
                                    height: 48px;
                                    background-color: black;
                                    color: white;

                                    &:hover {
                                        background-color: white;
                                        color:black;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .middle_section {
                display: flex;
                justify-content: space-evenly;
                width: 65%;
                gap: 30px;

                .about {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    gap: 20px;
                }

                .about-services {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    gap: 20px;
                }

                .follow-us {
                    display: flex;
                    flex-direction: column;
                    width: 30%;

                    .follow-us-headings {
                        margin-bottom: 20px;
                    }

                    .icon {
                        display: flex;
                        gap: 12px;

                        .icon-logo {
                            width: 20px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .left_section {
            .container-fluid {
                padding: 80px;

                .left_content {
                    border-top: 1px solid black;
                    display: flex;
                    justify-content: space-between;

                    .left_one {
                        width: 70%;
                        margin: 20px 0px 0px;
                        padding: 20px 0px 0px;
                    }

                    .left_two {
                        width: 30%;
                        display: flex;
                        justify-content: space-between;
                        margin: 20px 0px 0px;
                        padding: 20px 0px 0px;
                    }
                }
            }
        }
    }
}